{% extends 'base.html.twig' %}

{% block body %}
	&nbsp;
	&nbsp;
	<div class="link">
		<a href="{{path('produit_index')}}">Listes produits</a>
	</div>
	<div class="container">
  		<div class="row">
			<div class="col-md-6 offset-md-3 search">
				<div class="form-group">
					<label>name:</label>
					<input type="text" class="form-control name" name="search_name">
				</div>
					<table class="table table-bordered list-search">
						<thead>
							<th>Firstname</th>
							<th>Lastname</th>
							<th>Email</th>
						</thead>
						<tbody>
						</tbody>
					</table>
			</div>
		</div>
	</div>
	
	<input type="hidden" name="url_search" value="{{path('search_list_user')}}">
{% endblock %}

{% block javascripts %}
	<script type="text/javascript">
		$(document).ready(()=>{
			var array = [];

			$('.name').on('keydown input', (e)=>{
				array.push(e.key)
				let back = array.find((el)=>{
					return el == 'Backspace';
				})
				
				const newArray = array.filter((e,i) => {
					if (back) {
						e !== 'Backspace';
					} 
				})
				
				console.log('tab', newArray)
				var url = $("input[name='url_search']").val();

				var sch = back ? newArray.join(''): array.join('');
				var resp = [];
				console.log('ens', sch)
				const getSearch = async function(data){
					let res 	= await fetch(url,{
						method:'POST',
						headers:{
							'Content-Type':'application/json'
						},
						body:JSON.stringify(data)
					})

					if (res.ok) {
						resp = await res.json()
						let html;
						if (resp.length > 0) {											
							 resp.forEach((e,i) => {
								html += '<tr><td>'+e.firstname+'</td><td>'+e.lastname+'</td><td>'+e.email+'</td></tr>';
							})
							
						} else {
							html += '<tr><td>'+''+'</td><td>'+''+'</td><td>'+''+'</td></tr>';
						}

						$('.list-search tbody').html(html);
						
					} else {
						console.log(res.status)
					}
				} 

				var data = {name:sch};
				getSearch(data);
				
			})
		})
	</script>
{% endblock %}