<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{{asset('assets/bootstrap.min.css')}}">
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
        <script type="text/javascript" src="{{asset('assets/jquery.min.js')}}"></script>
        {% block javascripts %}{% endblock %}
    </body>
</html>
